.userList {
	height: 500px;
	width:250px;
	background-color:#C5C5C5; 
	position: fixed;
	top: 15%;
	left: 5%;
	
}

.chatHistory {
	height:500px; 
	width:700px; 
	background-color:#E6E6E6; 
	position: fixed;
	top: 15%;
	left:25%;
}

.message {
	width: 600px;
	position: fixed;
	top: 75%;
	left: 25%;
	  padding: 10px 16px;
  font-size: 18px;
  border-radius: 20px;
}

.sendButton {
	position: fixed;
	top: 75%;
	right:35%;
}



.leaveButton {
	position: fixed;
	top: 75%;
	left: 15%;
	padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
    background-color: #d9534f;
	color:#FFFFFF
}

.userNameBar {
	position: absolute;
	top: 50%;
	left: 38%;
}

.joinButton {
	position: absolute;
	top: 50%;
	left: 55%;
}

.welcome {
	position: absolute;
	top: 40%;
	left: 33%;
	font-size: xx-large;
	color: red;
	font-weight: bold;
}

.channelState {
	height:200px; 
	width:200px; 
	background-color:#E6E6E6; 
	position: absolute;
	top: 15%;
	left:30%;
}

.updateButton {
	position: absolute;
	top: 25%;
	left:45%;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-image: url(img/bg2.jpg);
}
